name: Deploy to Koyeb

on:
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: "${{ github.ref_name }}"
      cancel-in-progress: true
    steps:
      - name: Install and configure the Koyeb CLI
        uses: koyeb-community/koyeb-actions@969e180512fa08ddac5231e2f78c8fb025fd5db7
        with:
          api_token: "${{ secrets.KOYEB_API_TOKEN }}"

      - name: Build and deploy the application to Koyeb
        uses: koyeb/action-git-deploy@e40b6fc5ae0707b7fff3a940d4b357b5c7d9dbae
        with:
          app-name: "individual-preparation"
          service-name: "calculator"
          service-instance-type: "free"
          service-ports: "8080:http"
          service-routes: "/:8080"
          service-checks: "8080:tcp"
          git-builder: "docker"
